<div class="container work">
    <div class="row">
        <!-- titulo -->
        <div class="col-md-12 pt-5">
            <div class="text-center text-white">
                <h1> Trabajos </h1>
            </div>
        </div>
    </div>

    <div class="row" id="work">
        <div class="col-md-12 justify-content-center fix-carousel pt-5">
            <ngb-carousel>

                <ng-template ngbSlide *ngFor="let work of works">
                    <div class="mx-auto">
                        <img [src]="work.img" alt="Angular Carousel 1" class="img-responsive">
                    </div>
                    <div class="carousel-caption ccaption">
                        <div class="d-inline-block align-baseline">
                            <h3>{{ work.name }}</h3>
                        </div>
                        <div class=" p-1 d-inline-block align-top ">
                            <a class=" badge badge-success " href="{{ work.url }} " target="_parent ">  Link </a>
                        </div>
                        <p> {{ work.description }} </p>
                        <p class=""> Technologies: <span class="font-weight-lighter"> [{{ work.technologies.join(', ') }}] </span></p>
                    </div>
                </ng-template>

            </ngb-carousel>
        </div>
    </div>

</div>