.img-wrapper {
    border-radius: 20px;
    img {
        width: 80vw;
        max-width: 100%;
        margin: 0;
    }
}

.ccaption {
    background: rgba(20, 56, 69, 0.8);
    border-radius: 20px;
    width: 80%;
    left: 10%;
    font-family: 'Share Tech Mono', monospace;
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em
}

.fix-carousel {
    height: 80vh;
}

@media (max-width: 750px) {
    .img-wrapper {
        img {
            width: 130vh;
            max-width: 140%;
            margin: 0;
            height: 65vh;
        }
    }
    .fix-carousel {
        height: 80vh;
        margin-left: -10px;
    }
}