<div class="row m-5">
    <!-- titulo -->
    <div class="col-12-md p-5">
        <div class="text-center text-white">
            <h1> Experiencia</h1>
        </div>
    </div>
    <!-- titulo -->

    <!-- Experiencia -->

    <div class="row text-light mx-auto py-5">

        <div class="col-md-3">


            <i class="fas fa-server fa-2x m-2"></i>


            <h3>SysAdmin</h3>


        </div>

        <div class="col-md-3">
            <p><i class="fas fa-building fa-2x m-2"></i></p><br>
            <h3>Administrador de Datacenter</h3>
        </div>

        <div class="col-md-3">
            <span>
                            <i class="fab fa-windows fa-2x m-2"></i>
                        </span><br>

            <h3>Soporte IT</h3>
        </div>

        <div class="col-md-3">
            <span>
                            <i class="fas fa-code fa-2x m-2"></i>
                        </span><br>
            <h3>Desarollador</h3>
        </div>
    </div>

    <!-- Experiencia -->

</div>