<div class="row">
    <div class="container">
        <div class="col-md-12">

            <h1 class="text-white text-center mt-5">
                < SKILLZ & TOOLS /> </h1>

            <svg id="tagi" x="0px" y="0px" width="" height="" viewBox="80 0 800 350">
        <text transform="matrix(1 0 0 1 530.4292 293.7129)" class="st17 st0">SYSADMIN</text>
        <text transform="matrix(1 0 0 1 727.8999 191.9316)" class="st17 st20"></text>
        <text id="XMLID_2_" transform="matrix(1 0 0 1 433.0854 82.7407)" class="st17 st8">RUBY</text>
        <text transform="matrix(1 0 0 1 188.187 144.3555)" class="st5 st17 st22">RAILS</text>
        <text transform="matrix(1 0 0 1 400.8301 145.1353)" class="st17 st29">LINUX</text>
        <text transform="matrix(1 0 0 1 350.8799 20.6626)" class="st5 st28 st6"> DESIGN</text>
        <text transform="matrix(1 0 0 1 247.0718 191.1514)" class="st5 st28 st18">SCRIPTS</text>
        <text transform="matrix(1 0 0 1 0 129.9268)" class="st5 st28 st30">JQUERY</text>
        <text transform="matrix(1 0 0 1 250.9712 76.1118)" class="st5 st28 st14">JAVASCRIPTS</text>
        <text transform="matrix(1 0 0 1 229.9131 169.5225)" class="st5 st28 st25">NODEJS</text>
        <text transform="matrix(1 0 0 1 472.4722 105.3691)" class="st5 st28 st27"></text>
        <text transform="matrix(1 0 0 1 550.7007 153.4639)" class="st5 st28 st1">HTML</text>
        <text transform="matrix(1 0 0 1 128.9111 264.4697)" class="st5 st28 st26">NETWORKING</text>
        <text transform="matrix(1 0 0 1 191.3057 102.2393)" class="st5 st28 st24">TYPESCRIPTS</text>
        <text transform="matrix(1 0 0 1 290.4351 289.0342)" class="st5 st28 st1">FULL-STACK</text>
        <text transform="matrix(1 0 0 1 500.77 230.4307)" class="st5 st28 st21"> PROGRAMMING</text>
        <text transform="matrix(1 0 0 1 683.0542 230.5381)" class="st5 st28 st19">DOCKER</text>
        <text transform="matrix(0.9244 0 0 1 580.7485 97.0288)" class="st5 st28 st16">DESIGN</text>
        <text transform="matrix(1 0 0 1 663.5552 139.2856)" class="st5 st28 st3">ANGULAR</text>
        <text transform="matrix(1 0 0 1 251.3608 240.4502)" class="st5 st17 st31">DEPLOYMENT</text>
        <text transform="matrix(1 0 0 1 217.0439 54.2744)" class="st5 st28 st11">VIRTUALIZATION</text>
        <text transform="matrix(1 0 0 1 119.9526 240.2871)" class="st5 st28 st13">DESIGN</text>
        <text transform="matrix(1 0 0 1 444.0044 34.7744)" class="st5 st17 st4">PHOTOSHOP</text>
        <text transform="matrix(1 0 0 1 125.4019 129.147)" class="st5 st28 st15">CSS</text>
        <text transform="matrix(1 0 0 1 350.8022 207.5303)" class="st17 st2">DEVELOPMENT</text>
        <text transform="matrix(1 0 0 1 81.5249 212.6006)" class="st17 st9">GIT</text>
        <text transform="matrix(1 0 0 1 545.0063 316.7061)" class="st5 st28 st23">CLOUD</text>
        <text transform="matrix(1 0 0 1 638.2075 66.7529)" class="st5 st28 st12">POSTGRESQL</text>
        <text transform="matrix(1 0 0 1 185.8467 282.4043)" class="st5 st28 st10">BACKUP</text>
        <text transform="matrix(1 0 0 1 34.1494 150.5947)" class="st5 st28 st7">GCP</text>
      </svg>




        </div>
    </div>
</div>