/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Arame;
    src: url(assets/fonts/Arame.ttf);
}

body {
    background: url("/assets/background2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 80% 80%;
    margin: 0;
    overflow-x: hidden;
}

body h1 {
    font-family: Arame;
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em
}

#work .fp-tableCell {
    vertical-align: top;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: rgb(8, 129, 123);
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 90%;
    border: 3px solid rgb(8, 129, 123);
}